body {
  background: #ffffff;
}

footer {
  width: 900px;
  margin: 20px auto;
  border-top: 4px dotted rgba(171, 155, 179, 0.333);
  padding-top: 10px;
  text-align: right;
}

h2 {
  text-decoration: underline;
  margin-top: 10px;
  color: rgb(15, 107, 103);
}

main {
  width: 900px;
  margin: auto;
}

p {
  margin-top: 4px;
}

.footer__navigation {
  color: black;
}

.general-list {
  padding-inline-start: 50px;
  margin: 0;
}

.header__title {
  color: #178888;
  -webkit-text-stroke: 1px rgb(63, 61, 61);
  text-align: center;
}

.header-image-container__image {
  width: 100%;
}

.lesson__homework-paragraph--js {
  text-align: center;
  color: rgb(52, 187, 192);
  font-weight: bold;
}

.lessons-navigation {
  display: inline-block;
}

.lessons-navigation__lesson {
  display: block;
  padding: 4px;
  margin: 2px;
  text-decoration: none;
  color: rgb(143, 140, 140);
}

.lessons-navigation__lesson:hover {
  color: black;
}

.navigation {
  width: fit-content;
  margin: 10px auto;
}

.navigation__link {
  color: #86283d;
  padding: 10px;
  background: linear-gradient(#f1eeee 70%, #be6272);
  margin: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
}
.navigation__link:hover {
  color: #cf7f91;
}

.paragraph-link-http {
  text-align: center;
}
.paragraph-java-js {
  text-align: center;
}

.quotes {
  width: 900px;
}

.quotes__title {
  margin-top: 23px;
  margin-bottom: 3px;
  color: rgb(15, 107, 103);
}

.quote__title {
  margin-top: 12px;
  margin-bottom: 0px;
  color: rgb(185, 0, 93);
}

.relaxation {
  margin-top: 50px;
}

.relaxation__puppy {
  width: 40%;
}

.thesis__image {
  width: 90%;
}
